.Card {
    width: 335px;
    height: 500px;
    border: solid 1px black;
    border-radius: 10px;
}

.PaginationLeft,
.PaginationRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 50px;
    cursor: pointer;
}

.PaginationCover {
    position: relative;
    height: auto;
}

.PaginationLeft {
    left: 10px;
}

.PaginationRight {
    right: 10px;
}

.BlackSquare {
    border: 1px black solid;
    width: 225px;
    height: 225px;
    margin-left: 55px;
    margin-top: 10%;
}

.Defilement {
    overflow: hidden;
}

.ThisImage {
    border-radius: 15px;
    width: 220px;
    height: 220px;
}

.RingDescription {
    margin: 20px 6% 0% 6%;
    font-size: 18px;
}

.RingDescription li {
    margin-top: 20px;
    list-style: none;
    font-weight: 500;
}

.Modele {
    width: 95%;
    height: 1060px;
    object-fit: cover;
    position: relative;
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

.CardColumn {
    margin-top: 3%;
    gap: 50px;
}

.browse-grid-page {
    margin-top: 10%;
}